
:root {
  --code-text-color: #c9d1d9;
  --code-added-color: #196c2e;
  --code-removed-color: #d73a49;
  --added-line-color: #28a74533;
  --removed-line-color: #cb243133;
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 

html,body {
  scroll-behavior: smooth;
  overflow-y: hidden;
  height: 100%;
}
a {
  user-select: none;
}
html::-webkit-scrollbar {
  width: 0;
}
body,
nav {
  transition: background 0.6s ease-in-out;
}

div.cm-scroller::-webkit-scrollbar{
  width: 8px;
  background: var(--active);
}
div.cm-scroller::-webkit-scrollbar-thumb{
  background: var(--primary);
}
code {
  font-family: var(--font-family);
}

code .added {
  color: var(--code-added-color);
  background-color: var(--added-line-color);
  padding: 0 0.2rem;
}

code .removed {
  color: var(--code-removed-color);
  background-color: var(--removed-line-color);
  padding: 0 0.2rem;
}

.ͼ2 .cm-gutters{
  background-color: var(--active);
}
.ͼ2 .cm-activeLine , .ͼ2 .cm-activeLineGutter{
  background-color: var(--primary-container);
}

.dark .ͼi {
  color: #81c491;
}

.dark .ͼi {
  color: #98c379;
}

.dark .ͼb {
  color: #c678dd;
}

.cm-number, div[data-language="css"] .ͼb {
  color: #d19a66;
}

.dark .ͼe{
  color: #e06c75;
}


.dark .ͼg ,.dark .ͼj{
  color: #61afef;
}

.cm-error {
  color: #e06c75;
}

.cm-qualifier {
  color: #abb2bf;
}

.cm-bracket {
  color: #abb2bf;
}

.dark .ͼc ,.dark .ͼi {
  color: #6ce09c;
}

.dark .ͼd {
  color: #e06c75;
}


